.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  font-family: "Times New Roman", Times, serif;
  margin: 2px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  justify-content: center;
}




.myPic {
  padding: 10px;
  margin: 10px;
  height: auto;
  width: auto;
  border-radius: 10%;
  background-color: none;
}
.myCard {
  display: flex;
  position: relative;
  justify-content: center;
  height: 350px;
  width: 500px;
  background-color: none;
  margin: auto;
  
}

.aboutMe{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}


.rightSide {
margin: auto;
}

.footerCenter {
  margin: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
